*{
    font-family: 'Heebo', sans-serif;
}

.home-ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: none;
}

.home-a{
    color: rgb(255, 0, 0);
    font-size: 20px;
    padding: 0 10px;

}



.sect-1{
    padding: 0 50px;
    display:flex;
    align-items: center;
    margin-top: 2.8cm;
}

#left-section {
    color:rgb(0, 0, 0);
    padding: 0 90px;
}

#right-section{
    color:rgb(0, 0, 0);
}

#rightsection img{
    border-radius: 50%;
}

button{
    background-color: rgb(180, 46, 46);
    border: 8px solid rgb(187, 48, 48);
    width: 3cm;
    padding: 10px;
}

#sect-two-first-child{
    display: flex;
    justify-content: space-between;
}

#sect-two-second-child{
    display: flex;
    justify-content: space-between;
}























a { text-decoration: none; }